@import url('/styles/variables.css');

.footer {
  margin-top: 60px;
  background: var(--purple);
  color: var(--white);
}

.footer,
.bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top {
  width: 100%;
  max-width: 880px;
  height: 445px;
}

.top h3 {
  align-self: flex-start;
  font-family: var(--font-bold);
  font-size: 30px;
  line-height: 43.35px;
  margin-top: 35px;
}

.bottom {
  background: var(--grey);
}

.bottom nav {
  max-width: 1180px;
}

.questions {
  margin-top: 25px;
  border-bottom: 1px solid var(--white);
}

@media screen and (max-width: 1179px) {
  .top {
    width: 90%;
  }
  .bottom {
    width: 100%;
  }
  .bottom nav {
    max-width: 90%;
  }
}
