@import url('/styles/variables.css');

.question {
  border-top: 1px solid var(--white);
  width: 100%;
  cursor: pointer;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 79px;
}

.question h5 {
  margin-top: 15px;
  font-size: 20px;
  line-height: 28.9px;
}

.icon {
  width: 25px;
  height: 26px;
  transition: 0.3s ease;
}

.icon.open {
  transform: rotate(45deg) scale(1.4, 1.3);
}

.answer {
  font-family: var(--font-semi-bold);
  font-size: 16px;
  line-height: 22.4px;
  margin-top: -1px;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.3s ease;
}

.answer.open {
  opacity: 1;
  margin-bottom: 36px;
  max-height: 50px;
}
