.image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 520px;
}

.imageBig {
  width: 100%;
  height: 461.42px;
  object-fit: contain;
}

.images {
  display: flex;
  width: 100%;
  margin-top: 17px;
}

.imageSmall:not(:last-child) {
  margin-right: 20px;
}

.imageSmall {
  position: relative;
  object-fit: contain;
}

.selected::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border: 3px solid #c4c4c4;
  border-radius: 4px;
  pointer-events: none;
  box-sizing: border-box;
}

.imageSmall {
  width: 70px;
  height: 75.71px;
}

@media screen and (max-width: 1210px) {
  .image,
  .imageBig,
  .images {
    width: 80%;
  }

  .imageSmall {
    width: 60px;
    height: 65.71px;
  }
}

@media screen and (max-width: 880px) {
  .image,
  .imageBig,
  .images {
    width: 400px;
  }

  .imageSmall {
    width: 60px;
    height: 65.71px;
  }
}

@media screen and (max-width: 450px) {
  .image,
  .imageBig,
  .images {
    width: 280px;
  }

  .imageSmall {
    width: 40px;
    height: 45.71px;
  }
}
