@import url('/styles/variables.css');

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-regular);
}

body,
#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#root main {
  flex-grow: 1;
}
